BUILDTOOLS/msys/share/texinfo/texinfo.dtd

<!-- $Id: texinfo.dtd,v 1.13 2008/01/31 18:33:27 karl Exp $
   Document Type Definition for Texinfo XML output (the '-'-xml option).

  Copyright (C) 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008
  Free Software Foundation, Inc.

  Copying and distribution of this file, with or without modification,
  are permitted in any medium without royalty provided the copyright
  notice and this notice are preserved.

   Author: Philippe Martin
   Contributors:
           Karl Eichwalder
           Alper Ersoy
           Karl Berry
           Torsten Bronger
-->

<!-- * ENTITIES * -->

<!-- Meta-information -->
<!ENTITY % metainformation "setfilename | settitle | dircategory
                            | documentdescription">
<!ENTITY % variables "setvalue | clearvalue">

<!-- Document language -->
<!ENTITY % lang "documentlanguage">

<!-- Language codes -->
<!ENTITY % languagecodes "aa|ab|af|am|ar|as|ay|az|ba|be|bg|bh|bi|bn|bo|br|ca|co|cs|cy|da|de|dz|el|en|eo|es|et|eu|fa|fi|fj|fo|fr|fy|ga|gd|gl|gn|gu|ha|he|hi|hr|hu|hy|ia|id|ie|ik|is|it|iu|ja|jw|ka|kk|kl|km|kn|ko|ks|ku|ky|la|ln|lo|lt|lv|mg|mi|mk|ml|mn|mo|mr|ms|mt|my|na|ne|nl|no|oc|om|or|pa|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sd|sg|sh|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|ug|uk|ur|uz|vi|vo|wo|xh|yi|yo|za|zh|zu">

<!-- ToC -->
<!ENTITY % toc "contents | shortcontents">

<!-- Title page -->
<!ENTITY % titlepage_cmds "author | booktitle | booksubtitle">

<!-- block -->
<!ENTITY % block "menu | para | quotation | example | smallexample | lisp
                  | smalllisp | cartouche | copying
                  | format | smallformat | display
                  | smalldisplay | itemize | enumerate | sp | center | group
                  | table | multitable | definition | float | image">

<!-- API definitions -->
<!ENTITY % definition.cmds "defcategory | deffunction | defvariable | defparam
                            | defdelimiter | deftype | defparamtype | defdatatype
                            | defclass | defclassvar | defoperation">

<!-- Headings -->
<!ENTITY % headings "majorheading | chapheading | heading | subheading
                     | subsubheading">


<!-- Sectioning -->
<!ENTITY % section.level1 "top | chapter | unnumbered | appendix">

<!ENTITY % section.level2 "section | unnumberedsec | appendixsec">

<!ENTITY % section.level3 "subsection | unnumberedsubsec | appendixsubsec">

<!ENTITY % section.level4 "subsubsection | unnumberedsubsubsec 
                           | appendixsubsubsec">

<!ENTITY % section.all "%section.level1; | %section.level2; | %section.level3;
                        | %section.level4;">


<!ENTITY % section.level1.content "(%block;
                                   | %section.level2;
                                   | %section.level3;
                                   | %section.level4;
                                   | verbatim | titlepage | %toc;
                                   | %lang; | %variables;
                                   | %headings;
                                   | listoffloats
                                   | printindex)*">

<!ENTITY % section.level2.content "(%block;
                                   | %section.level3;
                                   | %section.level4;
                                   | verbatim | titlepage | %toc;
                                   | %lang; | %variables;
                                   | %headings;)*">

<!ENTITY % section.level3.content "(%block;
                                   | %section.level4;
                                   | verbatim | titlepage | %toc;
                                   | %lang; | %variables;
                                   | %headings;)*">

<!ENTITY % section.level4.content "(%block;
                                    | verbatim | titlepage | %toc;
                                    | %lang; | %variables;
                                    | %headings;)*">

<!-- Options (many missing) -->
<!ENTITY % onoff "on|off">
<!ENTITY % option.cmds "frenchspacing">

<!-- Inline -->
<!ENTITY % Inline.emphasize "strong | emph">
<!ENTITY % Inline.fonts "b | i | r | sansserif | slanted | titlefont | tt
                         | sc">
<!ENTITY % Inline.footnote "footnote">
<!ENTITY % Inline.markup "code | command | env | file | option | samp | verb
                          | dfn | cite | key | kbd | var | acronym | url"> 
<!ENTITY % Inline.math "math | dmn">
<!ENTITY % Inline.reference "xref | inforef | indexterm | email | uref">
<!ENTITY % Inline.misc "click | clicksequence | logo | punct">

<!ENTITY % Inline.phrase
           "%Inline.emphasize;  | %Inline.misc; | %Inline.fonts;
            | %Inline.markup;   | %Inline.math; | %Inline.reference;
            | %Inline.footnote; | %option.cmds; ">


<!-- * ELEMENTS * -->

<!-- TOP Level Element -->
<!ELEMENT texinfo ((%metainformation; | titlepage | node | synindex | %block; | %toc;
                    | %variables; | %lang;)* )>
<!ATTLIST texinfo xml:lang (%languagecodes;) 'en'>

<!-- meta-information -->
<!ELEMENT setfilename (#PCDATA)>
<!ELEMENT settitle    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dircategory (#PCDATA)>

<!ELEMENT setvalue    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT clearvalue  EMPTY>
<!ATTLIST setvalue
                name CDATA #REQUIRED>
<!ATTLIST clearvalue
                name CDATA #REQUIRED>

<!-- ToC -->
<!ELEMENT contents      EMPTY>
<!ELEMENT shortcontents EMPTY>

<!-- Document language -->
<!ELEMENT documentlanguage EMPTY>
<!ATTLIST documentlanguage xml:lang (%languagecodes;) 'en'>

<!-- Titlepage -->
<!ELEMENT titlepage    (%titlepage_cmds; | %block;)*>
<!ELEMENT author       (#PCDATA | %Inline.phrase;)*>
<!ELEMENT booktitle    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT booksubtitle (#PCDATA | %Inline.phrase;)*>

<!-- NODES -->
<!ELEMENT node (nodename, nodenext?, nodeprev?, nodeup?,
                (%section.all; | %block; | %toc; | %lang;)*) >

<!ELEMENT nodename (#PCDATA)>
<!ELEMENT nodenext (#PCDATA)>
<!ELEMENT nodeprev (#PCDATA)>
<!ELEMENT nodeup   (#PCDATA)>


<!-- SECTIONING -->
<!ELEMENT top           (title?, (%section.level1.content;))>

<!ELEMENT chapter       (title?, (%section.level1.content;))>
<!ELEMENT section       (title?, (%section.level2.content;))>
<!ELEMENT subsection    (title?, (%section.level3.content;))>
<!ELEMENT subsubsection (title?, (%section.level4.content;))>

<!ELEMENT unnumbered          (title?, (%section.level1.content;))>
<!ELEMENT unnumberedsec       (title?, (%section.level2.content;))>
<!ELEMENT unnumberedsubsec    (title?, (%section.level3.content;))>
<!ELEMENT unnumberedsubsubsec (title?, (%section.level4.content;))>

<!ELEMENT appendix          (title?, (%section.level1.content;))>
<!ELEMENT appendixsec       (title?, (%section.level2.content;))>
<!ELEMENT appendixsubsec    (title?, (%section.level3.content;))>
<!ELEMENT appendixsubsubsec (title?, (%section.level4.content;))>

<!-- Headings and titles -->
<!ELEMENT majorheading  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT chapheading   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT heading       (#PCDATA | %Inline.phrase;)*>
<!ELEMENT subheading    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT subsubheading (#PCDATA | %Inline.phrase;)*>
<!ELEMENT title         (#PCDATA | %Inline.phrase;)*>

<!-- Negative Indentation in Blocks -->
<!ELEMENT exdent       (#PCDATA | %Inline.phrase;)*>


<!-- BLOCK Elements -->

<!ELEMENT quotation    (%block; | %Inline.phrase; | exdent)*>
<!ELEMENT documentdescription (#PCDATA | %block; | %Inline.phrase;)*>
<!ELEMENT example      (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT smallexample (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT lisp         (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT smalllisp    (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT cartouche    (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT copying      (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT format       (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT smallformat  (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT display      (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT smalldisplay (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT center       (#PCDATA | %block; | %Inline.phrase; | exdent)*>
<!ELEMENT group        (#PCDATA | %block; | %Inline.phrase; | exdent)*>

<!ELEMENT image        (alttext)>
<!ELEMENT alttext      (#PCDATA)>
<!ATTLIST image
            name      CDATA #REQUIRED
            extension CDATA #REQUIRED
            width     CDATA #REQUIRED
            height    CDATA #REQUIRED>

<!-- Whitespace in these elements are always preserved -->
<!ATTLIST example      xml:space (preserve) #FIXED 'preserve'>
<!ATTLIST smallexample xml:space (preserve) #FIXED 'preserve'>
<!ATTLIST lisp         xml:space (preserve) #FIXED 'preserve'>
<!ATTLIST smalllisp    xml:space (preserve) #FIXED 'preserve'>
<!ATTLIST display      xml:space (preserve) #FIXED 'preserve'>
<!ATTLIST smalldisplay xml:space (preserve) #FIXED 'preserve'>
<!ATTLIST format       xml:space (preserve) #FIXED 'preserve'>
<!ATTLIST smallformat  xml:space (preserve) #FIXED 'preserve'>

<!ELEMENT verbatim     (#PCDATA)>
<!ATTLIST verbatim     xml:space (preserve) #FIXED 'preserve'>

<!ELEMENT para         (#PCDATA | %Inline.phrase; | %lang;)*>
<!ATTLIST para
          role CDATA #IMPLIED>

<!ELEMENT menu (menuentry | detailmenu | para)*>
<!ELEMENT detailmenu (menuentry | para)*>
<!ELEMENT menuentry (menunode?, menutitle?, menucomment?)>
<!ELEMENT menunode (#PCDATA)>
<!ELEMENT menutitle (#PCDATA)>
<!ELEMENT menucomment (#PCDATA | %Inline.phrase;)*>

<!-- Floating displays -->
<!ELEMENT float (floattype, floatpos, (%block;)*,
                ((caption, shortcaption?) | (shortcaption, caption))?)>
<!ATTLIST float
          name CDATA #IMPLIED>
<!ELEMENT floattype (#PCDATA)>
<!ELEMENT floatpos (#PCDATA)>
<!ELEMENT caption (#PCDATA | %Inline.phrase;)*>
<!ELEMENT shortcaption (#PCDATA | %Inline.phrase;)*>
<!ELEMENT listoffloats EMPTY>
<!ATTLIST listoffloats
          type CDATA #IMPLIED>

<!-- Lists -->
<!ELEMENT itemize (itemfunction, (item | itemize | enumerate | indexterm)*)>
<!ELEMENT enumerate (item | itemize | enumerate | indexterm)*>
<!ATTLIST enumerate
          first CDATA #IMPLIED>

<!ELEMENT item (%block;)*>

<!ELEMENT itemfunction (#PCDATA | %Inline.phrase;)*>

<!-- Tables -->
<!ELEMENT table (tableitem | indexterm)+>
<!ELEMENT tableitem ((tableterm, indexterm*)+, item?)>
<!ELEMENT tableterm (#PCDATA | %Inline.phrase;)*>

<!ELEMENT multitable (columnfraction*, thead?, tbody)>
<!ELEMENT columnfraction (#PCDATA)>
<!ELEMENT thead (row+)>
<!ELEMENT tbody (row+)>
<!ELEMENT row (entry*)>
<!ELEMENT entry (#PCDATA | %Inline.phrase;)*>

<!-- API definitions -->
<!ELEMENT definition (definitionterm | definitionitem | indexterm)+>
<!ELEMENT definitionterm (%definition.cmds; | indexterm)+>
<!ELEMENT definitionitem (%block;)*>

<!ELEMENT defcategory  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT deffunction  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defvariable  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defparam     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defdelimiter (#PCDATA | %Inline.phrase;)*>
<!ELEMENT deftype      (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defparamtype (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defdatatype  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defclass     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defclassvar  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defoperation (#PCDATA | %Inline.phrase;)*>

<!-- INLINE Elements -->

<!-- options -->
<!ELEMENT frenchspacing (#PCDATA)> <!-- must be on or off -->
<!ATTLIST frenchspacing val (%onoff;) 'off'>

<!-- emphasize -->
<!ELEMENT strong (#PCDATA | %Inline.phrase;)*>
<!ELEMENT emph   (#PCDATA | %Inline.phrase;)*>

<!-- small caps -->
<!ELEMENT sc (#PCDATA | %Inline.phrase;)*>

<!-- fonts -->
<!ELEMENT b  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT i  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT r  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT sansserif   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT slanted     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT titlefont   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT tt (#PCDATA | %Inline.phrase;)*>

<!-- markup -->
<!ELEMENT code    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT command (#PCDATA | %Inline.phrase;)*>
<!ELEMENT env     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT file    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT option  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT samp    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dfn     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT cite    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT key     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT kbd     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT var     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT url     (#PCDATA | %Inline.phrase;)*>

<!ELEMENT acronym (acronymword, acronymdesc?)>
<!ELEMENT acronymword (#PCDATA | %Inline.phrase;)*>
<!ELEMENT acronymdesc (#PCDATA | %Inline.phrase;)*>

<!ELEMENT abbrev (abbrevword, abbrevdesc?)>
<!ELEMENT abbrevword (#PCDATA | %Inline.phrase;)*>
<!ELEMENT abbrevdesc (#PCDATA | %Inline.phrase;)*>

<!-- math -->
<!ELEMENT math    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dmn     (#PCDATA | %Inline.phrase;)*>

<!-- reference -->
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor
          name CDATA #IMPLIED>

<!ELEMENT xref (xrefnodename | xrefinfoname | xrefinfofile
                | xrefprintedname | xrefprinteddesc)*>
<!ELEMENT xrefnodename    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefinfoname    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefinfofile    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefprintedname (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefprinteddesc (#PCDATA | %Inline.phrase;)*>

<!ELEMENT inforef (inforefnodename | inforefrefname | inforefinfoname)*>
<!ELEMENT inforefnodename (#PCDATA | %Inline.phrase;)*>
<!ELEMENT inforefrefname  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT inforefinfoname (#PCDATA | %Inline.phrase;)*>

<!ELEMENT synindex  EMPTY>
<!ATTLIST synindex
          code      (yes|no) 'no'
          from      NMTOKEN #REQUIRED
          to        NMTOKEN #REQUIRED>
<!ELEMENT indexterm (#PCDATA | %Inline.phrase;)*>
<!ATTLIST indexterm
          index CDATA #IMPLIED>

<!ELEMENT email (emailaddress, emailname?)>
<!ELEMENT emailaddress (#PCDATA | %Inline.phrase;)*>
<!ELEMENT emailname (#PCDATA | %Inline.phrase;)*>

<!ELEMENT uref (urefurl, urefdesc?, urefreplacement?)>
<!ELEMENT urefurl         (#PCDATA | %Inline.phrase;)*>
<!ELEMENT urefdesc        (#PCDATA | %Inline.phrase;)*>
<!ELEMENT urefreplacement (#PCDATA | %Inline.phrase;)*>

<!ELEMENT footnote (para)>


<!ELEMENT punct     (#PCDATA)>
<!ATTLIST punct
          end-of-sentence (yes|no) #IMPLIED>
<!ELEMENT logo      (#PCDATA)>
<!ELEMENT linebreak EMPTY>

<!ENTITY tex        "<logo>TeX</logo>">
<!ENTITY latex      "<logo>LaTeX</logo>">
<!ENTITY ellipsis   "&#x2026;">
<!ENTITY lt         "&#x3c;">
<!ENTITY gt         "&#x3e;">
<!ENTITY bullet     "&#x2022;">
<!ENTITY copyright  "&#xa9;">
<!ENTITY registered "&#xae;">
<!ENTITY euro       "&#x20ac;">
<!ENTITY pounds     "&#xa3;">
<!ENTITY minus      "&#x2212;">
<!ENTITY linebreak  "<linebreak/>">
<!ENTITY space      " ">          <!-- Should become an element. -->
<!ENTITY dots       "<punct end-of-sentence='no'>&#x2026;</punct>">
<!ENTITY enddots    "<punct end-of-sentence='yes'>&#x2026;</punct>">
<!ENTITY amp        "&#x26;">
<!ENTITY lsquo      "&#x2018;">
<!ENTITY rsquo      "&#x2019;">
<!ENTITY sbquo      "&#x201a;">
<!ENTITY ldquo      "&#x201c;">
<!ENTITY rdquo      "&#x201d;">
<!ENTITY bdquo      "&#x201e;">
<!ENTITY laquo      "&#xab;">
<!ENTITY raquo      "&#xbb;">
<!ENTITY lsaquo     "&#x2039;">
<!ENTITY rsaquo     "&#x203a;">
<!ENTITY mdash      "&#x2014;">
<!ENTITY ndash      "&#x2013;">
<!ENTITY period     "<punct end-of-sentence='no'>.</punct>">
<!ENTITY eosperiod  "<punct end-of-sentence='yes'>.</punct>">
<!ENTITY quest      "<punct end-of-sentence='no'>?</punct>">
<!ENTITY eosquest   "<punct end-of-sentence='yes'>?</punct>">
<!ENTITY excl       "<punct end-of-sentence='no'>!</punct>">
<!ENTITY eosexcl    "<punct end-of-sentence='yes'>!</punct>">

<!ENTITY auml "&#xe4;">
<!ENTITY ouml "&#xf6;">
<!ENTITY uuml "&#xfc;">
<!ENTITY Auml "&#xc4;">
<!ENTITY Ouml "&#xd6;">
<!ENTITY Uuml "&#xdc;">
<!ENTITY Euml "&#xcb;">
<!ENTITY euml "&#xeb;">
<!ENTITY Iuml "&#xcf;">
<!ENTITY iuml "&#xef;">
<!ENTITY yuml "&#xff;">
<!ENTITY uml  "&#xa8;">

<!ENTITY Aacute "&#xc1;">
<!ENTITY Eacute "&#xc9;">
<!ENTITY Iacute "&#xcd;">
<!ENTITY Oacute "&#xd3;">
<!ENTITY Uacute "&#xda;">
<!ENTITY Yacute "&#xdd;">
<!ENTITY aacute "&#xe1;">
<!ENTITY eacute "&#xe9;">
<!ENTITY iacute "&#xed;">
<!ENTITY oacute "&#xf3;">
<!ENTITY uacute "&#xfa;">
<!ENTITY yacute "&#xfd;">

<!ENTITY ccedil "&#xe7;">
<!ENTITY Ccedil "&#xc7;">

<!ENTITY Acirc "&#xc2;">
<!ENTITY Ecirc "&#xca;">
<!ENTITY Icirc "&#xc3;">
<!ENTITY Ocirc "&#xd4;">
<!ENTITY Ucirc "&#xdb;">
<!ENTITY acirc "&#xe2;">
<!ENTITY ecirc "&#xea;">
<!ENTITY icirc "&#xee;">
<!ENTITY ocirc "&#xf4;">
<!ENTITY ucirc "&#xfb;">

<!ENTITY Agrave "&#xc0;">
<!ENTITY Egrave "&#xc8;">
<!ENTITY Igrave "&#xcc;">
<!ENTITY Ograve "&#xd2;">
<!ENTITY Ugrave "&#xd9;">
<!ENTITY agrave "&#xe0;">
<!ENTITY egrave "&#xe8;">
<!ENTITY igrave "&#xec;">
<!ENTITY ograve "&#xf2;">
<!ENTITY ugrave "&#xf9;">

<!ENTITY Atilde "&#xc3;">
<!ENTITY Ntilde "&#xd1;">
<!ENTITY Otilde "&#xd5;">
<!ENTITY atilde "&#xe3;">
<!ENTITY ntilde "&#xf1;">
<!ENTITY otilde "&#xf5;">

<!ENTITY oslash "&#xf8;">
<!ENTITY Oslash "&#xd8;">

<!ENTITY ordm "&#xba;">
<!ENTITY ordf "&#xaa;">

<!ENTITY iexcl "&#xa1;">
<!ENTITY pound "&#xa3;">
<!ENTITY iquest "&#xbf;">
<!ENTITY AElig "&#xc6;">
<!ENTITY aelig "&#xe6;">
<!ENTITY OElig "&#x152;">
<!ENTITY oelig "&#x153;">
<!ENTITY Aring "&#xc5;">
<!ENTITY aring "&#xe5;">
<!ENTITY szlig "&#xdf;">

<!ENTITY rarr "&#x2192;">
<!ENTITY rArr "&#x21d2;">

<!ENTITY macr "&#xaf;">


<!-- fixxme: not yet classified -->

<!ELEMENT sp (#PCDATA)>
<!ATTLIST sp
          lines CDATA #IMPLIED>
<!ELEMENT printindex (#PCDATA)>

